<div id="activities-one" class="card-activities-filtered-with-title">
  <div class="card-activities-title text-center pink-bg">
    <%= "Choose a #{trip.filters[0].split("_").map(&:capitalize).join(' ')} activity" %>
  </div>
  <% if activity_one %>
    <div id= "activities-one-filtered" class="card-activities-filtered stretch">
      <%= render "shared/card_activities", activity: activity_one, clicked: true %>
    </div>
  <% else %>
    <div id= "activities-one-filtered" class="card-activities-filtered">
      <% activities_one.each do |activity| %>
        <%= render "shared/card_activities", activity: activity, trip: trip, clicked: false %>
      <% end %>
    </div>
  <% end %>
</div>

<% if activity_one %>
  <div id="activities-two" class="card-activities-filtered-with-title">
    <div class="card-activities-title text-center yellow-bg">
      <%= "Choose a #{trip.filters[1].split("_").map(&:capitalize).join(' ')} activity" %>
    </div>
    <% if activity_two %>
      <div id= "activities-two-filtered" class="card-activities-filtered stretch">
        <%= render "shared/card_activities", activity: activity_two, clicked: true %>
      </div>
    <% else %>
      <div id= "activities-two-filtered" class="card-activities-filtered">
        <% activities_two.each do |activity| %>
          <%= render "shared/card_activities", activity: activity, trip: trip, clicked: false %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if activity_two %>
    <div id="activities-three" class="card-activities-filtered-with-title">
      <div class="card-activities-title text-center purple-bg">
        <%= "Choose a #{trip.filters[2].split("_").map(&:capitalize).join(' ')} activity" %>
      </div>
      <% if activity_three %>
        <div id= "activities-three-filtered" class="card-activities-filtered stretch">
          <%= render "shared/card_activities", activity: activity_three, clicked: true %>
      <% else %>
        <div id= "activities-three-filtered" class="card-activities-filtered">
          <% activities_three.each do |activity| %>
            <%= render "shared/card_activities", activity: activity, trip: trip, clicked: false %>
          <% end %>
      <% end %>
        </div>
    </div>
  <% end %>
<% end %>
