<%= render "shared/navbar" %>

<div class="activities-container">
  <div class="activities-box">
  <h3>Now, let's pick three activities</h3>
    <div id="card-activities-all">
      <%= render "trips/activities", trip: @trip, activities_one: @activities_one, activities_two: @activities_two, activities_three: @activities_three, activity_one: @activity_one, activity_two: @activity_two, activity_three: @activity_three %>
    </div>
  </div>
  <div class="submit-edit-trip">
      <%= link_to "Save & Send Later", trip_path(@trip), id:"first-btn", class: @trip.visits.length == 3 ? "btn-secondary" : "btn-primary", method:"patch" %>
      <% if @trip.visits.length == 3 %>
        <%= link_to "Send to #{@trip.tourist_first_name}", "#modal-comment", id:"last-btn", class:"btn-primary", 'data-toggle'=> "modal", 'data-target'=> "#modal-comment" %>
      <% else %>
        <%= link_to "Send to #{@trip.tourist_first_name}", "#modal-comment", style:"display:none", id:"last-btn", class:"btn-primary", 'data-toggle'=> "modal", 'data-target'=> "#modal-comment" %>
      <% end %>
      <%= render 'shared/modal_comment', trip: @trip %>
  </div>
</div>


