<%= render "shared/navbar" %>

<div class="activities-container">
  <div id="card-activities-all">
    <%= render "trips/activities", trip: @trip, activities_one: @activities_one, activities_two: @activities_two, activities_three: @activities_three, activity_one: @activity_one, activity_two: @activity_two, activity_three: @activity_three %>
  </div>
  <div class="submit-edit-trip">
    <%= link_to "Save & Send Later", trip_path(@trip), id:"first-btn", class:"btn-primary", method:"patch" %>
    <%= link_to "Send to Friend",  "#modal-comment",  id:"last-btn", class:"btn-primary", 'data-toggle'=> "modal", 'data-target'=> "#modal-comment"  %>
    <%= render 'shared/modal_comment', trip: @trip %>
  </div>
</div>
