<%= render 'shared/navbar' %>
<div class="container">
  <div class="form-post">
    <h3> Let's define your friend's profile !</h3>
    <h6> Be as precise as possible so we can provide you with the most suited activities </h6>
    <%= simple_form_for [@trip] do |f| %>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.input :tourist_first_name, label: "Enter your friend's first name", placeholder: "Hector", class:"form-inline"%>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.input :tourist_last_name, label: "Enter your friend's last name", placeholder: "Louvot", class:"form-inline"%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.input :tourist_email, label: "Enter your friend's email", placeholder: "hector.louvot@gmail.com" %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.input :date, label: "Pick a date", as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "December 22, 2017"%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.input :knows_the_city, label: "Indicate your friend's knowledge of the city", input_html: {class: "sliderknowledge"} %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.input :budget, label: "Indicate your friend's budget", input_html: {class: "sliderbudget"} %>
          </div>
        </div>
      </div>

      <p> Select whether your friend is coming on his own or with company</p>
      <div class="status-checkboxes">
        <div class="select-status">
          <i class="fa fa-male" aria-hidden="true"></i><br>
          Solo
        <%= f.input :status, as: :hidden, input_html: { value:"solo", disabled:true } %>
        </div>
        <div class="select-status">
          <i class="fa fa-male" aria-hidden="true"></i><i class="fa fa-child" aria-hidden="true"></i><i class="fa fa-child" aria-hidden="true"></i> <br>
          Family
        <%= f.input :status, as: :hidden, input_html: { value:"family", disabled:true } %>
        </div>

        <div class="select-status">
          <i class="fa fa-heart" aria-hidden="true"></i> <br>
          Couple
        <%= f.input :status, as: :hidden, input_html: { value:"couple", disabled:true } %>
        </div>

        <div class="select-status">
          <i class="fa fa-users" aria-hidden="true"></i> <br>
          Friends
        <%= f.input :status, as: :hidden, input_html: { value:"friends", disabled:true } %>
        </div>
      </div>

      <p> Choose 3 profiles to describe your friend</p>
      <div class="description-checkboxes">
        <div class="select-description" id="sight_seeing_adventurer">
          <i class="fa fa-camera-retro" aria-hidden="true"></i> <br>
          Sightseer Enthusiast
        <%= f.input :sight_seeing_adventurer, as: :hidden %>
        </div>
        <div class="select-description" id="art_lover">
          <i class="fa fa-paint-brush" aria-hidden="true"></i> <br>
          Art Lover
        <%= f.input :art_lover, as: :hidden %>
        </div>
        <div class="select-description" id="serial_shopper">
          <i class="fa fa-shopping-bag" aria-hidden="true"></i> <br>
          Serial Shopper
        <%= f.input :serial_shopper, as: :hidden %>
        </div>
        <div class="select-description" id="nature_lover">
          <i class="fa fa-leaf" aria-hidden="true"></i> <br>
          Nature Lover
        <%= f.input :nature_lover, as: :hidden %>
        </div>
        <div class="select-description" id="food_addict">
          <i class="fa fa-cutlery" aria-hidden="true"></i> <br>
          Food Addict
        <%= f.input :food_addict, as: :hidden %>
        </div>
        <div class="select-description" id="sport_lover">
          <i class="fa fa-futbol-o" aria-hidden="true"></i> <br>
          Sport Lover
        <%= f.input :sport_lover, as: :hidden %>
        </div>
        <div class="select-description" id="history_passionate">
          <i class="fa fa-university" aria-hidden="true"></i> <br>
          History Passionate
        <%= f.input :history_passionate, as: :hidden %>
        </div>
        <div class="select-description" id="tech_fan">
          <i class="fa fa-mobile" aria-hidden="true"></i> <br>
          Tech Fan
        <%= f.input :tech_fan, as: :hidden %>
        </div>
        <div class="select-description" id="relaxed">
          <i class="fa fa-hand-peace-o" aria-hidden="true"></i> <br>
          Relaxed
        <%= f.input :relaxed, as: :hidden %>
        </div>
        <div class="select-description" id="city_wanderer">
          <i class="fa fa-eye" aria-hidden="true"></i> <br>
          City Wanderer
        <%= f.input :city_wanderer, as: :hidden %>
        </div>
      </div>
      <div class="row trip-title-flex">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="form-group">
            <%= f.input :title, label: "Give a title to your trip", placeholder: "Hector's Trip To Paris" %>
          </div>
        </div>
      </div>
      <%= f.submit "Submit Profile", id: "submit-trip", class: "btn btn-primary", disabled: true %>
    <% end %>
  </div>
</div>


