<%= simple_form_for [@trip] do |f| %>
  <%= f.input :knows_the_city, label: 'Knows Paris?', :collection => [1, 2, 3, 4, 5], prompt: "Select a level" %>
  <%= f.input :budget, label: 'Budget', :collection => [1, 2, 3, 4, 5], prompt: "Select a budget" %>
  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.input :status, collection: ["solo", "family", "couple", "friends"], prompt: "Select a status" %>
  <h3> Your friend is...</h3>
  <input type="checkbox"  name="sight_seeing_adventurer" value="true" onclick="addClassCheck(this)"/> Sight Seeing Adventurer <br>
  <input type="checkbox"  name="art_lover" value="true" onclick="addClassCheck(this)"/> an Art Lover <br>
  <input type="checkbox"  name="serial_shopper" value="true" onclick="addClassCheck(this)"/> a Serial Shopper <br>
  <input type="checkbox"  name="nature_lover" value="true" onclick="addClassCheck(this)"/> a Nature Lover <br>
  <input type="checkbox"  name="food_addict" value="true" onclick="addClassCheck(this)"/> a Food Addict <br>
  <input type="checkbox"  name="sport_lover" value="true" onclick="addClassCheck(this)"/> a Sport Lover <br>
  <input type="checkbox"  name="history_passionate" value="true" onclick="addClassCheck(this)"/> a History Passionate <br>
  <input type="checkbox"  name="tech_fan" value="true" onclick="addClassCheck(this)"/> a Tech fan <br>
  <input type="checkbox"  name="relaxed" value="true" onclick="addClassCheck(this)"/> Relaxed <br>
  <input type="checkbox"  name="city_wanderer" value="true" onclick="addClassCheck(this)"/> a city wanderer <br>
  <%= f.submit "Submit profile", class: "btn-secondary" %>
<% end %>


<script type="text/javascript">
function addClassCheck(element){

    if(element.checked){
        element.classList.add("marked");
    }
    else
    {
        element.classList.remove("marked");
    }

    if(document.getElementsByClassName("marked").length>3){
      alert("Please select only three profiles");
        element.checked=false;
        element.classList.remove("marked");
    }

}
</script>



