<%= render 'shared/navbar' %>
<div class="container">
  <div class="form-post">

<!-- Progress bar -->
  <div class="progress">
    <div class="circle active" id="circle1">
      <span class="label">1</span>
      <span class="title">General</span>
    </div>
    <span class="bar"></span>
    <div class="circle" id="circle2">
      <span class="label">2</span>
      <span class="title">More</span>
    </div>
    <span class="bar"></span>
    <div class="circle" id="circle3">
      <span class="label">3</span>
      <span class="title">Profiles</span>
    </div>
  </div>
  <!-- PROFILE FORM -->
  <%= simple_form_for [@trip] do |f| %>
    <!-- GENERAL INFORMATION -->
    <div id="step1" class="step active">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 ">
          <div class="form-group">
            <%= f.input :tourist_first_name, label: "What's your friend's first name?", placeholder: "Hector", class:"form-inline", required: false %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="form-group">
            <%= f.input :tourist_last_name, label: "And last name?", placeholder: "Louvot", class:"form-inline", required: false %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="form-group">
            <%= f.input :tourist_email, label: "What's your friend's email address?", placeholder: "hector.louvot@gmail.com", required: false %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="form-group">
            <%= f.input :date, label: "When is your friend coming?", as: :string, required: false, input_html: {class: "datepicker"}, placeholder: "December 22, 2017" %>
          </div>
        </div>
      </div>
      <div class="buttons-form">
        <div class="btn btn-primary next-btn" data-next="step2" data-circle="circle2">Next</div>
      </div>
    </div>
<!--  MORE INFORMATION - KNOWLEDGE + BUDGET -->
    <div id="step2" class="step">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1">
          <div class="form-group" id="more-info" >
            <%= f.input :knows_the_city, label: "How well does your friend know the city?", input_html: {class: "sliderknowledge"} %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1">
          <div class="form-group">
            <%= f.input :budget, label: "What's his/her budget?", input_html: {class: "sliderbudget"} %>
          </div>
        </div>
      </div>
<!-- STATUS -->
      <h4 class="text-center">How is your friend travelling?</h4>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="status-checkboxes">
            <div class="select-status">
              <%= image_tag "girl.svg", class:"svg-icons" %><br>
              Solo
              <%= f.input :status, as: :hidden, input_html: { value:"solo", disabled:true } %>
            </div>
            <div class="select-status">
              <%= image_tag "family.svg", class:"svg-icons" %><br>
              Family
              <%= f.input :status, as: :hidden, input_html: { value:"family", disabled:true } %>
            </div>

            <div class="select-status">
              <%= image_tag "couple.svg", class:"svg-icons" %> <br>
              Couple
              <%= f.input :status, as: :hidden, input_html: { value:"couple", disabled:true } %>
            </div>

            <div class="select-status">
              <%= image_tag "conversation.svg", class:"svg-icons" %><br>
              Friends
              <%= f.input :status, as: :hidden, input_html: { value:"friends", disabled:true } %>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons-form">
        <div class="btn btn-secondary prev-btn" data-prev="step1" data-circle="circle1">Back</div>
        <div class="btn btn-primary next-btn" data-next="step3" data-circle="circle3">Next</div>
      </div>
    </div>
<!-- PROFILES -->
    <div id="step3" class="step">
      <h4 class="text-center">How would you describe your friend? (<span id="active-choices">0</span>/3)</h4>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="description-checkboxes">
            <div class="select-description" id="sight_seeing_adventurer">
              <%= image_tag "camera.svg", class:"svg-icons" %> <br>
              Sightseer Enthusiast
              <%= f.input :sight_seeing_adventurer, as: :hidden %>
            </div>
            <div class="select-description" id="art_lover">
              <%= image_tag "canvas.svg", class:"svg-icons" %> <br>
              Art Lover
              <%= f.input :art_lover, as: :hidden %>
            </div>
            <div class="select-description" id="serial_shopper">
              <%= image_tag "shopping-bag.svg", class:"svg-icons" %> <br>
              Serial Shopper
              <%= f.input :serial_shopper, as: :hidden %>
            </div>
            <div class="select-description" id="nature_lover">
              <%= image_tag "tent.svg", class:"svg-icons" %> <br>
              Nature Lover
              <%= f.input :nature_lover, as: :hidden %>
            </div>
            <div class="select-description" id="food_addict">
              <%= image_tag "food.svg", class:"svg-icons" %> <br>
              Food Addict
              <%= f.input :food_addict, as: :hidden %>
            </div>
            <div class="select-description" id="sport_lover">
              <%= image_tag "weightlifting.svg", class:"svg-icons" %><br>
              Sport Lover
              <%= f.input :sport_lover, as: :hidden %>
            </div>
            <div class="select-description" id="history_passionate">
              <%= image_tag "coin.svg", class:"svg-icons" %> <br>
              History Passionate
              <%= f.input :history_passionate, as: :hidden %>
            </div>
            <div class="select-description" id="tech_fan">
              <%= image_tag "social-media.svg", class:"svg-icons" %><br>
              Tech Fan
              <%= f.input :tech_fan, as: :hidden %>
            </div>
            <div class="select-description" id="relaxed">
              <%= image_tag "yoga.svg", class:"svg-icons" %> <br>
              Relaxed
              <%= f.input :relaxed, as: :hidden %>
            </div>
            <div class="select-description" id="city_wanderer">
              <%= image_tag "scooter.svg", class:"svg-icons" %> <br>
              City Wanderer
              <%= f.input :city_wanderer, as: :hidden %>
            </div>
          </div>
        </div>
      </div>
      <div class="row trip-title-flex">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="form-group">
            <%= f.input :title, label: "Finally, give a title to your trip", required: false, placeholder: "Hector's Trip To Paris" %>
          </div>
        </div>
      </div>
      <div class="buttons-form">
        <div class="btn btn-secondary prev-btn" data-prev="step2" data-circle="circle2">Back</div>
        <%= f.submit "Continue", id: "submit-trip", class: "btn btn-primary", disabled: true %>
      </div>
    <% end %>
    </div>
  </div>
</div>


