<%= render 'shared/navbar' %>
<div class="container-show">
 <div class="show-content">
      <div class="show-header">
        <h4 class="show-title text-center" id="ouverture_show"><%= @trip.title %></h4>
        <h5 class="show-date text-center" ><%= @trip.date.strftime('%A %B %e, %Y') %></h5>
            <% if @trip.comment %>
              <div class="trip-comments">
              <p><%= @trip.comment %></p>
              </div>
            <% else %>
            <% end %>
        </div>

        <div class="trip-photos text-center">
          <% markers = [] %> <!-- Initialize the variable markers outside the each -->
          <div class="modal-activities">
            <% @trip.visits.each do |visit| %>
              <% activity = visit.activity %>
              <div class="modal-activity">
                <div class="img-link">
                  <%= image_tag activity.photo, class:"trip-photo" %>
                </div>
                <div class="trip-title-modal"><h6><%= activity.title %></h6></div>
                <div class="trip-name"><h5><%= activity.name %></h5></div>
              </div>
              <% markers << { lat: activity.latitude, lng: activity.longitude } %>
            <% end %>
          </div>
        </div>

          <div class="map">
            <div id="floating-panel">
            <div id="warnings-panel"></div>
              <b>Mode of Travel: </b>
              <select id="mode">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Bicycling</option>
                <option value="TRANSIT">Transit</option>
              </select>
            </div>

            <div class="trip-map" id="ouverture_modal" ></div>

            <div id="map" style="width: 100%; height: 600px;" data-markers="<%= markers.to_json %>"></div>
          </div>

          <div class="trip-summary">
            <div class="trip-host"><p> This map was created by <%= @trip.host.first_name %> <%= @trip.host.last_name %> for <%= User.find(@trip.tourist_id).first_name %> <%= User.find(@trip.tourist_id).last_name %></p></div>

            <div class="trip-details">
                <% @trip.filters.each do |profile| %>
              <div class="trip-infos">
                  <i class="fa fa-university" aria-hidden="true"></i>
                  <p><%= profile.gsub('_', " ").split.map(&:capitalize).join(' ') %></p>
              </div>
                <% end %>
              <div class="trip-infos">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                <p>Budget <%= Trip::BUDGET[@trip.budget] %>
                </p>
              </div>

              <div class="trip-infos">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                <p>Knows The City <%= Trip::KNOWS_THE_CITY[@trip.knows_the_city] %>
                </p>
              </div>
              <div class="trip-infos">
                <i class="fa fa-male" aria-hidden="true"></i>
                <p><%= @trip.status %></p>
              </div>
            </div>
          </div>
       <div class="show-footer">
        <div class="show-button-container">
           <%= link_to 'Send'.html_safe,dashboard_user_path(current_user), class: "btn-small btn-show" %>
        </div>
      </div>
    </div>
</div>
