<div class="pdf-body">
  <div class="pdf-content">
    <div class="pdf-header">
      <h4 class="pdf-title text-center" id="ouverture_pdf"><%= @trip.title %></h4>
      <h5 class="pdf-date text-center"><%= @trip.date.strftime('%A %B %e, %Y') %></h5>
      <% unless @trip.comment == "" %>
        <div class="pdf-trip-comments">
          <p><%= @trip.comment %></p>
        </div>
      <% end %>
    </div>

    <div class="pdf-trip-summary-content">
      <div class="pdf-trip-summary">
        <div class="pdf-trip-host">
          <p><%= User.find(@trip.tourist_id).first_name %> <%= User.find(@trip.tourist_id).last_name %></p>
        </div>
      </div>
    </div>

    <div class="pdf-map-content ">
      <img src="<%= @static_map %>" alt="" class="pdf-map">
    </div>

    <div class="pdf-content-photos">
      <% markers = [] %> <!-- Initialize the variable markers outside the each -->
      <% @trip.visits.each do |visit| %>
        <% activity = visit.activity %>
        <div class="pdf-trip-activity">
          <%= wicked_pdf_image_tag activity.photo, class:"pdf-trip-photo" %>
          <div><h6><%= activity.title %></h6></div>
          <div><h5><%= activity.name %></h5></div>
        </div>
        <% markers << { lat: activity.latitude, lng: activity.longitude } %>
      <% end %>
    </div>


    <div class="pdf-trip-host">
      <p> This map was created by
          <%= @trip.host.first_name %> <%= @trip.host.last_name %>
          for <%= User.find(@trip.tourist_id).first_name %> <%= User.find(@trip.tourist_id).last_name %>
          on omakase-paris.fr
      </p>
    </div>
  </div>
</div>
