
<div class="dashboard">

  <!-- CENTER PART OF DASHBOARD -->
  <div class="dash">
  <!-- Tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item active">
        <a class="nav-link" data-toggle="tab" href="#created-trips" role="tab">
          <i class="fa fa-paper-plane fa-fw" aria-hidden="true"></i> Created Trips (<%= trips_host.count %>)
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#received-trips" role="tab">
          <i class="fa fa-globe fa-fw" aria-hidden="true"></i> Received Trips (<%= trips_tourist.count %>)
        </a>
      </li>
    </ul>

    <div class="tab-content">

      <!-- CREATED TRIPS -->
      <div class="tab-pane fade in active" id="created-trips" role="tabpanel">
        <div class="card-container">
          <% created_trip = true %>
          <% if trips_host.count.zero? %>
            <div class="no-trip">You have not created any trips yet</div>
            <div class="btn-new-trip">
              <%= link_to '<i class="fa fa-plus fa-fw" aria-hidden="true"></i> Create First Trip'.html_safe, new_trip_path, class: "btn btn-primary" %>
            </div>
          <% else %>
            <% if trips_host_incoming.count.zero? %>
            <% else %>
            <h6 class="trip-card">Incoming Trips (<%= trips_host_incoming.count %>)</h6>
              <% trips_host_incoming.each do |trip| %>
                <%= render "shared/card", { trip: trip, created_trip: created_trip } %>
              <% end %>
            <% end %>
            <% if trips_host_past.count.zero? %>
            <% else %>
              <h6 class="trip-card">Past Trips (<%= trips_host_past.count %>)</h6>
              <% trips_host_past.each do |trip| %>
                <%= render "shared/card", { trip: trip, created_trip: created_trip } %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <!-- RECEIVED TRIPS -->
      <div class="tab-pane fade" id="received-trips" role="tabpanel">
        <div class="card-container">
          <% created_trip = false %>
          <% if trips_tourist.count.zero? %>
            <div class="no-trip">You don't have any trips</div>
          <% else %>
            <% if trips_tourist_incoming.count.zero? %>
            <% else %>
            <h6 class="trip-card">Incoming Trips (<%= trips_tourist_incoming.count %>)</h6>
              <% trips_tourist_incoming.each do |trip| %>
                <%= render "shared/card", { trip: trip, created_trip: created_trip } %>
              <% end %>
            <% end %>
            <% if trips_tourist_past.count.zero? %>
            <% else %>
              <h6 class="trip-card">Past Trips (<%= trips_tourist_past.count %>)</h6>
              <% trips_tourist_past.each do |trip| %>
                <%= render "shared/card", { trip: trip, created_trip: created_trip } %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>


    </div>

  </div>
</div>
