<div class="card full-card">
  <h3 class="trip-title"><%= trip.title %></h3>
  <% if trip.visits.count == 3 || created_trip %>
    <div class="trip-activities">
      <% trip.visits.each do |visit| %>
        <%= image_tag visit.activity.photo, class: "trip-photo" %>
      <% end %>
    </div>
    <div class="trip-actions hidden">
      <% if trip.visits.count == 3 %>
        <div class="trip-actions-btn">
        <% if trip.sent %>
          <%= link_to "Resend to #{trip.tourist_first_name}", send_email_trip_path(trip) %>
        <% else %>
          <%= link_to "Send to #{trip.tourist_first_name}", send_email_trip_path(trip) %>
        <% end %>
          <%= link_to "Edit", edit_trip_path(trip) %>
          <%= link_to "Delete", "#",
            data: { trip_id: "#{trip.id}"},
            id: "sweetalert-delete" %>
        </div>
      <% end %>
      <%#= link_to '<i class="fa fa-file-pdf-o" aria-hidden="true"></i> View PDF'.html_safe, trip_url(trip, format: :pdf), class: "trip-actions-cta" %>
    <%# end %>
    <div class="trip-date-info">
      <%= trip.date.strftime('%A %B %e, %Y') %>
    </div>
  </div>

    <%= link_to "", trip_path(trip), class: "card-link" %>
  <% end %>

  <%= render 'shared/modal_comment', trip: trip  %>  <!-- Hidden modal until called in trip-actions  -->
</div>
