<div class="card-activity-unit" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('<%= activity.photo %>');" data-activity-id='<%= activity.id %>'>
  <% unless clicked %>
    <%= link_to "", trip_visits_path(trip, activity_id: activity.id), class:"absolute-link", method:"post", remote: true %>
  <% end %>

  <% if trip.visits.last&.activity == activity %>
    <%= link_to(trip_visit_path(trip, trip.visits.last), class: "delete-link", method: :delete, remote: true) do %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
  <% end %>
  <div class="card-activity-description" >
    <h2><%= activity.title %></h2>
    <p><%= activity.name %></p>
    <% unless trip.visits.length == 0 || clicked %>
      <p><%=  "#{activity.distance_to(trip.visits.last&.activity).round(2)}km" %></p>
    <% end %>
    <% if clicked %>
      <div class="card-activity-description-full">
        <p><%= activity.address %></p>
        <p>
          <% if activity.budget == 1 %>
            <%= "Free" %>
          <% else %>
            <% (activity.budget - 1).times do %>
              <i class="fa fa-eur" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </p>
        <p>To book: <%= activity.to_book ? "Yes" : "No" %></p>
        <%= link_to "Website", activity.website, target: "_blank" %>
      </div>
    <% end %>
  </div>
</div>

