<div class="card full-card">
  <h3 class="trip-title"><%= trip.title %></h3>
  <% if trip.visits.count == 3 || created_trip %>
    <div class="trip-activities">
      <% trip.visits.each do |visit| %>
        <%= image_tag visit.activity.photo, class: "trip-photo" %>
      <% end %>
    </div>
    <div class="trip-actions">
    <% if created_trip %>
      <% if trip.visits.count == 3 %>
        <% if trip.sent %>
          <%= link_to '<i class="fa fa-send status-green" aria-hidden="true"></i> Send Again'.html_safe, send_email_trip_path(trip), class: "trip-actions-cta" %>
        <% else %>
          <%= link_to '<i class="fa fa-send status-red" aria-hidden="true"></i> Send Now!'.html_safe, send_email_trip_path(trip), class: "trip-actions-cta" %>
        <% end %>
      <% else %>
        <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> Finish Editing Trip'.html_safe, edit_trip_path(trip), class: "trip-actions-cta"  %>
      <% end %>
    <% else %>
      <%= link_to '<i class="fa fa-file-pdf-o" aria-hidden="true"></i> View PDF'.html_safe, trip_url(trip, format: :pdf), class: "trip-actions-btn" %>
    <% end %>
    <% if created_trip %>
    <div class="trip-actions-btn">
      <%= link_to('<i class="fa fa-comment" aria-hidden="true"></i>'.html_safe, "#", class: "", data: { toggle: "modal", target: "#modal-comment-#{trip.id}" } ) %>
      <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_trip_path(trip), class: "" %>
      <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, "#",
        class: "",
        data: { trip_id: "#{trip.id}"},
        id: "sweetalert-delete" %>
              <%#= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, trip_path(trip),
              method: :delete,
              data: { confirm: "sure" } %>
    </div>
    <% end %>
      <!-- One is shown to allow addEventListener, one is hidden to allow method to be deleted -->
      <!-- <i class="fa fa-trash" id= "sweetalert-delete" aria-hidden="true"></i> -->
    <div class="trip-date-info">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <%= trip.date.strftime('%A %B %e, %Y') %>
    </div>
  </div>
<!--     <div class="trip-details hidden">
      <div class="trip-sent-status">
        </div>
        <div class="trip-actions">

        </div>
    </div>
 -->
    <%= link_to "", trip_path(trip), class: "card-link" %>
  <% end %>

  <%= render 'shared/modal_comment', trip: trip  %>  <!-- Hidden modal until called in trip-actions  -->
</div>
