<div class="card full-card">
  <h3 class="trip-title"><%= trip.title %></h3>
  <% if trip.visits.count == 3 || created_trip %>
    <div class="trip-activities">
      <% trip.visits.each do |visit| %>
        <%= image_tag visit.activity.photo, class: "trip-photo" %>
      <% end %>
    </div>
    <div class="trip-actions hidden">
      <div class="trip-actions-btn">
        <% if trip.visits.count == 3 %>
          <% if created_trip %>
            <% if trip.sent %>
              <%= link_to "Resend to #{trip.tourist_first_name}", send_email_trip_path(trip) %>
            <% else %>
              <%= link_to "Send to #{trip.tourist_first_name}", send_email_trip_path(trip) %>
            <% end %>
              <%= link_to "Edit", edit_trip_path(trip) %>
              <%= link_to "Delete", "#",
                data: { trip_id: "#{trip.id}"},
                id: "sweetalert-delete" %>
          <% else %>
            <%= link_to "Add to Google Agenda", "http://www.google.com/calendar/event?" \
                "action=TEMPLATE" \
                "&text=A+day+in+Paris+made+by+#{trip.host.first_name.split(' ').join('+')}" \
                "&dates=#{trip.date.strftime("%Y%m%d")}/#{(trip.date.to_datetime + 1).strftime("%Y%m%d")}" \
                "&details=Cant+wait+to+see+you+here+!+ +In+the+meantime+you+can+check+what+I+have+planned+for+you+at+:+https://omakase-paris.fr/trips/#{trip.id}" \
                "&location=#{trip.visits.first&.activity.address.split(/[\s,']/).join("+")}" \
                "&trp=false" \
                "&sprop=name:",
                target: "_blank"
            %>
            <%= link_to "View PDF", trip_url(trip, format: :pdf), target: "_blank" %>
            <%= link_to "Delete", "#",
                data: { trip_id: "#{trip.id}"},
                id: "sweetalert-delete" %>
          <% end %>
        <% else %>
          <% if created_trip %>
            <%= link_to "Finish Editing", edit_trip_path(trip) %>
            <%= link_to "Delete", "#",
              data: { trip_id: "#{trip.id}"},
              id: "sweetalert-delete" %>
          <% end %>
        <% end %>
      </div>
    <div class="trip-date-info">
      <%= trip.date.strftime('%A %B %e, %Y') %>
    </div>
  </div>

    <%= link_to "", trip_path(trip), class: "card-link" %>
  <% end %>
</div>
