<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" data-trip-id="<%= trip.id %>">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="ouverture_modal"><%= trip.title %></h4>
      </div>
      <div class="modal-body">
        <div class="trip date text-center"><p><%= trip.date.strftime('%A %B %e, %Y') %></p></div>
        <div class="trip-info">
          <div class="trip-summary">
            <h6 class="text-center"></h6>
            <div class="trip-host"><p><i class="fa fa-user" aria-hidden="true"></i> From <%= trip.host.first_name %> <%= trip.host.last_name %></p></div>
            <div class="trip-tourist"><p><i class="fa fa-user" aria-hidden="true"></i> For <%= User.find(trip.tourist_id).first_name %> <%= User.find(trip.tourist_id).last_name %></p></div>
            <div class="trip-profile">
              <p><i class="fa fa-address-card" aria-hidden="true"></i>
                Profiles : <% trip.selected_profiles.each do |profile| %>
                  <%= profile.gsub('_', " ").split.map(&:capitalize).join(' ') %>
                <% end %>
              </p>
            </div>
            <div class="trip-budget">
              <p>
                <i class="fa fa-eur" aria-hidden="true"></i>
                Budget <%= trip.budget %>
              </p>
            </div>
            <div class="trip-knows-the-city">
              <p><i class="fa fa-eye" aria-hidden="true"></i>
                Knows The City <%= trip.knows_the_city %>
              </p>
            </div>
            <div class="trip-status">
              <p><i class="fa fa-users" aria-hidden="true"></i> <%= trip.status.capitalize %></p>
            </div>
          </div>
          <div class="trip-comments">
            <h6 class="text-center"><i class="fa fa-comment" aria-hidden="true"></i> Comment</h6>
              <p>
                <%= trip.comment %>
              </p>
          </div>
        </div>
          <div class="trip-photos text-center">
            <div class="first-activity">
              <% first_activity = trip.visits[0].activity %>
              <%= image_tag first_activity.photo, class:"trip-photo" %>
              <div class="trip-name"><h5><%= first_activity.name %></h5></div>
              <div class="trip-title-modal"><h6><%= first_activity.title %></h6></div>
            </div>
            <div class="second-activity">
              <% second_activity = trip.visits[1].activity %>
              <%= image_tag second_activity.photo, class:"trip-photo" %>
              <div class="trip-name"><h5><%= second_activity.name %></h5></div>
              <div class="trip-title-modal"><h6><%= second_activity.title %></h6></div>
            </div>
            <div class="third-activity">
              <% third_activity = trip.visits[2].activity %>
              <%= image_tag third_activity.photo, class:"trip-photo" %>
              <div class="trip-name"><h5><%= third_activity.name %></h5></div>
              <div class="trip-title-modal"><h6><%= third_activity.title %></h6></div>
            </div>
          </div>
          <div class="map">
            <div class="trip-map" id="ouverture_modal" ></div>

       <!--  markers for googlemap to be refactored  -->
          <% markers = [
            {
              lat: trip.visits[0].activity.latitude,
              lng: trip.visits[0].activity.longitude,
              # icon: "http://res.cloudinary.com/djlkudqpv/image/upload/c_scale,h_30,q_100,r_0,w_30/v1512062487/logo_gcdlo3.png",
              # infoWindow: { content: render_to_string(partial: "/plants/map_box", locals: { plant: plant })},
            },
            {
              lat: trip.visits[1].activity.latitude,
              lng: trip.visits[1].activity.longitude,
            },
            {
              lat: trip.visits[2].activity.latitude,
              lng: trip.visits[2].activity.longitude,
            }
          ] %>
            <div
            id="map"
            style="width: 100%;
            height: 600px;"
            data-markers="<%= markers.to_json %>"
            ></div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
