<div class="navbar-container">
  <div class="navbar-wagon">

    <div class="navbar-wagon-left">
      <!-- Logo -->
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "map-nav.png", height: 20 %>
      <% end %>
      <% if user_signed_in? %>
        <div class="navbar-wagon-greet">Hi <%= current_user.first_name %></div>
      <% end %>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <% if user_signed_in? %>

        <!-- Links when logged in -->
        <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> New Trip'.html_safe, new_trip_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to '<i class="fa fa-tachometer" aria-hidden="true"></i> My Dashboard'.html_safe, dashboard_user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to '<i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out'.html_safe, destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
        <div class="empty-avatar"><%= image_tag "icons/no-image.svg", {class:"navbar-empty-avatar"} %><p>  <%= current_user.first_name[0] %><%= current_user.last_name[0] %> </p></div>

      <% else %>
        <!-- Login link (when logged out) -->

        <%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Sign up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <% end %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% if user_signed_in? %>
            <li><%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> New Trip'.html_safe, new_trip_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
            <li><%= link_to '<i class="fa fa-tachometer" aria-hidden="true"></i> My Dashboard'.html_safe, dashboard_user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %></li>
            <li><%= link_to '<i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out'.html_safe, destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
            <%= link_to "Sign up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
