
<div class="main-container">
  <%= render "shared/banner" %>
  <div class="icons-container">
    <div class="icons">
      <%= image_tag "foot1.png", {class: "img-circle", id: "foot"}%>
      <%= image_tag "foot1.png", {class: "img-circle", id: "foot"}%>
      <%= image_tag "foot1.png", {class: "img-circle", id: "foot"}%>
      <%= image_tag "foot1.png", {class: "img-circle", id: "foot"}%>
      <%= image_tag "foot1.png", {class: "img-circle", id: "foot"}%>
      <%= image_tag "foot1.png", {class: "img-circle", id: "foot"}%>
      <%= image_tag "foot1.png", {class: "img-circle", id: "foot"}%>
    </div>
  </div>
  <div class="steps">
    <p>Your only a minute away from sending your map!</p>
      <div class="step-container">
        <div class="icons">
          <%= image_tag "one.svg", {class: "img-circle", id: "number"}%>
          <%= image_tag "two.svg", {class: "img-circle", id: "number"}%>
          <%= image_tag "three.svg", {class: "img-circle", id: "number"}%>
        </div>
        <div class="steps-images">
          <%= image_tag "tel.png", {class: "img-circle", id: "stepim"} %>
          <%= image_tag "tel.png", {class: "img-circle", id: "stepim"} %>
          <%= image_tag "tel.png", {class: "img-circle", id: "stepim"} %>
        </div>
      </div>
  </div>

</div>
