<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Work+Sans:100,200,300,400,500,600,700,800,900|Monoton" rel="stylesheet">

<div style="width: 100vh; text-align: justify; font-family: Source Sans Pro, sans-serif;">
  <div class="content-mailer">
    <p>Hi <%= @trip.tourist_first_name %>,</p>
    <p>You just received a new trip from <%= @trip.host.first_name %>.</p>
    <div style="display: flex; justify-content: space-between; padding: 5px 0 5px 0; width: calc(100vw / 3)">
      <%= link_to "View Trip", trip_url(@trip), {target: :_blank, style: 'border: 3px solid #FA360A; border-radius: 4px; padding: 10px; background-color: #f7f7f7;cursor: pointer; color: #FA360A; font-family: Source Sans Pro, sans-serif; font-size: 16px; text-decoration: none !important; font-weight:400;'}
      %>
       <%= link_to "View in PDF", trip_url(@trip, format: :pdf), {target: :_blank, style: 'border: 3px solid #FA360A; border-radius: 4px; padding: 10px; background-color: #f7f7f7;cursor: pointer; color: #FA360A; font-family: Source Sans Pro, sans-serif; font-size: 16px; text-decoration: none !important; font-weight:400;'} %>
      <%= link_to "Add to Google Agenda", "http://www.google.com/calendar/event?" \
          "action=TEMPLATE" \
          "&text=A+day+in+Paris+made+by+#{@trip.host.first_name.split(' ').join('+')}" \
          "&dates=#{@date_from}/#{@date_to}" \
          "&details=Cant+wait+to+see+you+here+!+ +In+the+meantime+you+can+check+what+I+have+planned+for+you+at+:+https://omakase-paris.fr/trips/#{@trip.id}" \
          "&location=#{@trip.visits.first&.activity&.address.split(/[\s,']/).join("+")}" \
          "&trp=false" \
          "&sprop=name:",
          {target: :_blank, rel: :nofollow, style: "border: 3px solid #FA360A; border-radius: 4px; padding: 10px; cursor: pointer; background-color: #f7f7f7; font-family: Source Sans Pro, sans-serif; font-size: 16px; color: #FA360A; font-weight:400; text-decoration: none !important;"}
      %>
    </div>
  </div>
    <p>Kind regards,</p>
    <p>The Omakaze Team</p>
   </div>
</div>
